.root_introduce{
   width: 90%;
   margin: auto
}
.title_introduce{
   display: flex
}
.text_introduce{
   font-size: 18px;
   text-align: left;
   font-weight: 400;
   text-align: justify;
   color: rgb(67, 66, 66);
}